.profile-main-container {
    width: 85%;
    height: 70%;
    background-color: #fff;
    margin: auto;
    border-radius: 25px;
    margin-top: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
  }
  
  .profile-logo-container {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .profile-page-image {
    width: 100px;
  }
  
  .profile-details-container {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item1 {
    width: 46%;
  }
  
  .heading {
    color: #505887;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .profile-input {
    border-radius: 15px;
    border: 2px solid #c1cad1;
    color: #718ebf;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    height: 30px;
    padding: 10px 0px 0px 10px;
  }
  