.all-transactions {
    list-style: none;
    background-color: #fff;
    width: 92%;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
  }
  
  .name1 {
    color: #343c6a;
    font-family: "Roboto";
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 6px;
  }
  
  .name2 {
    width: 20%;
    color: #343c6a;
    font-family: "Roboto";
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .name1x {
    color: #343c6a;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 800;
    width: 20%;
  }
  