.login-main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 10px;
  }
  
  .login-sub-container {
    background-color: white;
    width: 34%;
    height: 45%;
    padding: 30px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
  }
  
  .money {
    color: #f89a23;
    font-family: "Roboto";
    font-size: 19.66px;
    font-weight: 800;
    line-height: normal;
    margin-left: 10px;
  }
  
  .matters {
    color: #02969c;
    font-family: "Roboto";
    font-size: 19.66px;
    font-weight: 800;
    line-height: normal;
  }
  
  .label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 20px;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .input {
    width: 95%;
    height: 35px;
    border: 1px solid #616e7c;
    border-radius: 5px;
    padding: 0px 10px;
    outline: none;
  }
  
  .login-button {
    width: 30%;
    padding: 8px 0px;
    background-color: #3b82f6;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    font-family: "Bree Serif";
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    display: block;
  }
  
  .label1 {
    color: #606060;
    font-family: "Bree Serif";
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .checkbox {
    width: 22px;
    margin-right: 5px;
    margin-top: 10px;
    outline: none;
  }
  
  .error-msg {
    color: red;
    font-weight: 400;
    font-size: 12px;
    font-family: "Arial Narrow Bold", sans-serif;
  }
  